@{
    ViewBag.Title = "ProdutoCadastrarVizualizar";
    Layout = "~/Areas/Admin/Views/Shared/_lytPadraoAdmin.cshtml";
}

<h2>ProdutoCadastrarVizualizar</h2>

@if (ViewBag.Mensagem != null)
{
    <script>
        $(function () {
            $('#mensagemModal').modal();
            $('#mensagemModal').modal('show');
        });
    </script>
    <!-- Modal -->
    <div class="modal fade" id="mensagemModal" tabindex="-1" role="dialog" aria-labelledby="mensagemModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="mensagemModalLabel">@ViewBag.Mensagem.Titulo</h4>
                </div>
                <div class="modal-body">
                    @ViewBag.Mensagem.Conteudo
                </div>
                <div class="modal-footer">
                    @if (ViewBag.Mensagem.botaoEsquerdoLink != null)
                    {
                        <a class="btn btn-default" href="@ViewBag.Mensagem.botaoEsquerdoLink?idProduto=@ViewBag.Resultado">@ViewBag.Mensagem.botaoEsquerdoTitulo</a>
                    }
                    @if (ViewBag.Mensagem.botaoDireitoLink != null)
                    {
                        <a class="btn btn-primary">@ViewBag.Mensagem.botaoEsquerdoTitulo</a>
                    }
                </div>
            </div>
        </div>
    </div>
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Categoria</th>
            <th>Sub Categoria</th>
            <th>Ações</th>
        </tr>
    </thead>
    @foreach (var Produto in ViewBag.ListaProduto)
    {
        <tr>
            <td>@Produto.id_produto</td>
            <td>@Produto.nome</td>
            <td>@Produto.preco</td>
            <td>
                @foreach (var Categoria in ViewBag.ListaCategoria)
                {
                    if (Categoria.id == @Produto.id_categoria)
                    {
                        @Categoria.nome;
                    }
                }
            </td>
            <td>
                @foreach (var SubCategotia in ViewBag.ListaSubCategoria)
                {
                    if (SubCategotia.id == @Produto.id_sub_categoria)
                    {
                        @SubCategotia.nome;
                    }
                }
            </td>
            <td>
                <a href="produtocadastrar?idProduto=@Produto.id_produto&acao=ver" class="btn btn-info btn-sm"><i class="fa fa-eye"></i>&nbsp;Ver</a>
                <a href="produtocadastrar?idProduto=@Produto.id_produto&acao=ver" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i>&nbsp;Imagens</a>
                <a href="produtocadastrar?idProduto=@Produto.id_produto&acao=editar" class="btn btn-warning btn-sm"><i class="fa fa-pencil"></i>&nbsp;Editar</a>
                <a href="produtocadastrar?idProduto=@Produto.id_produto&acao=excluir" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>&nbsp;Excluir</a>
            </td>
        </tr>
    }
</table>